@import '@angular/cdk/overlay-prebuilt.css';
@import '../../../packages/ng-primitives/example-theme/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://unpkg.com/geist@1.3.0/dist/fonts/geist-mono/GeistMono-Medium.woff2')
    format('woff2');
}

:root {
  color-scheme: light;

  --primary-color: #e90364;
  --accent-color: #fa2c05;
  --dark-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dark {
  color-scheme: dark;

  --primary-color: #fc2781;
  --accent-color: #fb5637;

  --docsearch-modal-background: theme('colors.zinc.900');
  --docsearch-modal-shadow: var(--dark-shadow);
  --docsearch-searchbox-focus-background: theme('colors.zinc.800');
  --docsearch-searchbox-shadow: var(--dark-shadow);
  --docsearch-footer-background: theme('colors.zinc.900');
  --docsearch-footer-shadow: var(--dark-shadow);
  --docsearch-text-color: white;
  --docsearch-hit-background: theme('colors.zinc.800');
  --docsearch-hit-shadow: var(--dark-shadow);
  --docsearch-hit-color: white;

  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-searchbox-background: theme('colors.zinc.800');
  --docsearch-key-gradient: linear-gradient(180deg, #333, #444);
  --docsearch-key-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: white;
  --docsearch-muted-color: theme('colors.zinc.400');
}

html,
body {
  display: block;
  height: 100%;
  font-feature-settings: 'liga', 'calt', 'tnum', 'ss01', 'cv11';
}

pre[class*='language-'],
code[class*='language-'] {
  font-family: 'Geist Mono';
  font-size: 12px;
  font-weight: 500;
  background-color: #111011;
  color: #fff;
  border-radius: 0.75rem;
}

pre[class*='language-'] {
  padding-block: 1rem;
  padding-inline: 1.25rem;
}

.token {
  @apply bg-zinc-950;
}

.token.function,
.token.tag,
.token.class-name,
.token.selector {
  color: #ffc799;
}

.token.attr-name,
.token.keyword {
  color: #a0a0a0;
}

.token.attr-value,
.token.string,
.token.property {
  color: #99ffe4;
}

.token.comment {
  color: #8b8b8b94;
}

.token.punctuation {
  color: #a0a0a0;
}

.prose :where(thead th):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  text-align: left;
}

.prose h2:has(+ h3) {
  margin-bottom: 24px;
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply rounded bg-zinc-50 px-1.5 py-1 font-sans text-[13px] font-medium text-zinc-900 ring-1 ring-black/5 before:hidden after:hidden;
}

.DocSearch-Button {
  --docsearch-searchbox-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  @apply inline-flex flex-none items-center gap-x-3 overflow-hidden rounded-lg bg-white px-3 py-2 shadow-black/5 ring-1 ring-transparent focus-within:ring-2 focus-within:ring-blue-500 md:left-[calc(50%-104px)] md:w-52 md:shadow md:ring-black/10 lg:left-[calc(50%-160px)] lg:w-80 dark:bg-zinc-800;
}

.DocSearch-Button-Placeholder {
  @apply text-sm font-normal text-zinc-500;
}

.DocSearch-Button .DocSearch-Search-Icon {
  @apply h-4 w-4 text-zinc-400 dark:text-zinc-500;
}

.DocSearch-Button-Keys {
  min-width: unset;
}

.DocSearch-Button .DocSearch-Button-Key {
  --docsearch-key-gradient: transparent;
  @apply top-0 m-0 h-4 w-3 bg-transparent p-0 font-sans text-xs font-medium text-zinc-400 shadow-none dark:text-zinc-500;
}
