{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "trailingComma": "all",
  "importOrder": ["^[./]"],
  "htmlWhitespaceSensitivity": "ignore",
  "importOrderSeparation": false,
  "importOrderParserPlugins": ["typescript", "jsx", "classProperties", "decorators-legacy"],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ]
}
