/*
 * This is a sample theme for the ng-primitives examples. It uses colors from the TailwindCSS palette.
 */
:root {
  --ngp-white: oklch(1 0.001 0.001);
  --ngp-black: oklch(0 0.001 0.001);

  --ngp-gray-50: oklch(0.985 0 0);
  --ngp-gray-100: oklch(0.967 0.001 286.375);
  --ngp-gray-200: oklch(0.92 0.004 286.32);
  --ngp-gray-300: oklch(0.871 0.006 286.286);
  --ngp-gray-400: oklch(0.705 0.015 286.067);
  --ngp-gray-500: oklch(0.552 0.016 285.938);
  --ngp-gray-600: oklch(0.442 0.017 285.786);
  --ngp-gray-700: oklch(0.37 0.013 285.805);
  --ngp-gray-800: oklch(0.274 0.006 286.033);
  --ngp-gray-900: oklch(0.21 0.006 285.885);
  --ngp-gray-950: oklch(0.141 0.005 285.823);

  --ngp-background: var(--ngp-white);
  --ngp-background-secondary: var(--ngp-gray-300);
  --ngp-background-hover: var(--ngp-gray-50);
  --ngp-background-active: var(--ngp-gray-100);
  --ngp-background-inverse: var(--ngp-black);
  --ngp-background-disabled: var(--ngp-gray-100);
  --ngp-background-blue: #dbeafe;
  --ngp-background-success: oklch(84.1% 0.238 128.85);

  --ngp-border: rgba(0, 0, 0, 0.1);
  --ngp-border-secondary: var(--ngp-gray-300);
  --ngp-border-blue: #3b82f6;
  --ngp-border-inverse: var(--ngp-black);

  --ngp-text-emphasis: var(--ngp-black);
  --ngp-text-primary: var(--ngp-gray-900);
  --ngp-text-secondary: var(--ngp-gray-600);
  --ngp-text-tertiary: var(--ngp-gray-500);
  --ngp-text-disabled: var(--ngp-gray-400);
  --ngp-text-placeholder: var(--ngp-gray-400);
  --ngp-text-inverse: var(--ngp-white);
  --ngp-text-blue: #3b82f6;
  --ngp-text-red: #ef4444;

  --ngp-shadow: 0 1px 2px 0 rgba(0 0 0 0.05);
  --ngp-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --ngp-shadow-border: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  --ngp-focus-ring: rgb(59 130 246);

  --ngp-avatar-background: #bae6fd;
  --ngp-avatar-border: #fff;

  --ngp-button-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1), 0 0 0 1px rgb(0 0 0 / 0.05);

  --ngp-input-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.dark {
  --ngp-background: var(--ngp-gray-950);
  --ngp-background-secondary: var(--ngp-gray-700);
  --ngp-background-hover: var(--ngp-gray-900);
  --ngp-background-active: var(--ngp-gray-800);
  --ngp-background-inverse: var(--ngp-white);
  --ngp-background-disabled: var(--ngp-gray-900);
  --ngp-background-blue: rgba(95, 160, 246, 0.274);

  --ngp-border: var(--ngp-gray-800);
  --ngp-border-secondary: var(--ngp-gray-700);
  --ngp-border-blue: #1980ff;
  --ngp-border-inverse: var(--ngp-white);

  --ngp-text-emphasis: var(--ngp-white);
  --ngp-text-primary: var(--ngp-gray-100);
  --ngp-text-secondary: var(--ngp-gray-300);
  --ngp-text-tertiary: var(--ngp-gray-400);
  --ngp-text-disabled: var(--ngp-gray-500);
  --ngp-text-inverse: var(--ngp-black);
  --ngp-text-blue: #1980ff;
  --ngp-text-red: #ff4d4d;

  --ngp-avatar-background: #18181b;
  --ngp-avatar-border: #3f3f46;

  --ngp-input-shadow: 0 1px 2px rgba(255, 255, 255, 0.007), 0 0 0 1px rgba(255, 255, 255, 0.1);

  --ngp-button-shadow:
    0 1px 3px 0 rgb(255, 255, 255, 0.1), 0 1px 2px -1px rgb(255, 255, 255, 0.1),
    0 0 0 1px rgb(255, 255, 255, 0.05);
}
