/*
 * This is a sample theme for the ng-primitives examples. It uses colors from the TailwindCSS palette.
 */
:root {
  --white: oklch(1 0.001 0.001);
  --black: oklch(0 0.001 0.001);

  --gray-50: oklch(0.985 0 0);
  --gray-100: oklch(0.967 0.001 286.375);
  --gray-200: oklch(0.92 0.004 286.32);
  --gray-300: oklch(0.871 0.006 286.286);
  --gray-400: oklch(0.705 0.015 286.067);
  --gray-500: oklch(0.552 0.016 285.938);
  --gray-600: oklch(0.442 0.017 285.786);
  --gray-700: oklch(0.37 0.013 285.805);
  --gray-800: oklch(0.274 0.006 286.033);
  --gray-900: oklch(0.21 0.006 285.885);
  --gray-950: oklch(0.141 0.005 285.823);

  --background: var(--white);
  --background-hover: var(--gray-50);
  --background-active: var(--gray-100);
  --background-inverse: var(--black);
  --background-disabled: var(--gray-100);
  --background-blue: #dbeafe;

  --border: var(--gray-200);
  --border-secondary: var(--gray-300);
  --border-blue: #3b82f6;

  --text-emphasis: var(--black);
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-600);
  --text-tertiary: var(--gray-500);
  --text-disabled: var(--gray-400);
  --text-inverse: var(--white);
  --text-blue: #3b82f6;
  --text-red: #ef4444;

  --shadow: 0 1px 2px 0 rgba(0 0 0 0.05);

  --focus-ring: rgb(59 130 246);

  --avatar-background: #bae6fd;
  --avatar-border: #fff;
}

.dark {
  --background: var(--gray-950);
  --background-hover: var(--gray-900);
  --background-active: var(--gray-800);
  --background-inverse: var(--white);
  --background-disabled: var(--gray-900);
  --background-blue: rgba(95, 160, 246, 0.274);

  --border: var(--gray-800);
  --border-secondary: var(--gray-700);
  --border-blue: #1980ff;

  --text-emphasis: var(--white);
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-400);
  --text-disabled: var(--gray-500);
  --text-inverse: var(--black);
  --text-blue: #1980ff;
  --text-red: #ff4d4d;

  --avatar-background: #18181b;
  --avatar-border: #3f3f46;
}
